*~
.DS_Store
*.csv
*.pyc
*.swp
*.egg-info
build
dist
.coverage
nosetests.xml
lettucetests.xml
coverage.xml
ghostdriver.log
.harvest
pep8.report
.env
*.sqlite
Scripts/
Lib/
Include/
pyvenv.cfg
pip-selfcheck.json
